
@{
    ViewData["Title"] = "Index";
}

<div id="promotion">
</div>

<h3><em>Index</em> view</h3>

<ul id="book-list">
    @foreach (var book in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Store",
                new { id = book.BookId })">

                <img alt="@book.Title" src="@book.BookArtUrl" />
                <span>@book.Title</span>
            </a>
        </li>
    }
</ul>

